* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
}

#game-area {
    height: 90vh;
    width: 90vw;
    /* border: 1px solid white; */
    background-color: #ECB984;
    position: relative;
}

#player {
    height: 70px;
    width: 70px;
    position: absolute;
    background-color: black;
}

.icon {
    height: 50px;
    background-color: purple;
    width: 100%;
}

.health-bar {
    height: 10px;
    background-color: green;
    width: 100%;
}

.mana-bar {
    height: 10px;
    background-color: blue;
    width: 100%;
}

.enemy {
    height: 70px;
    width: 70px;
    aspect-ratio: 1 / 1;
    position: absolute;
}

.iconEnemy {
    height: 60px;
    background-color: red;
    width: 100%;
}

.health-barEnemy {
    height: 10px;
    background-color: green;
    width: 100%;
}

.fireBall {
    height: 30px;
    width: 30px;
    background-color: #e28822;
    position: absolute;
    border-radius: 50%;
}

.rock {
    height: 180px;
    width: 180px;
    background-color: #655353;
    position: absolute;
}

.lake {
    height: 360px;
    width: 360px;
    background-color: #CDE5F9;
    position: absolute;
}

.tree {
    height: 90px;
    width: 90px;
    background-color: #5F6344;
    position: absolute;
}