* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://i.pinimg.com/736x/ce/3e/aa/ce3eaae4075199a4b26401742612cb72.jpg");
}

#container {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:  black;
    border-radius: 1%;
}

#game-area {
    height: 89vh;
    width: 89vw;
    position: relative;
    /* background-image: url("https://lh3.bunny.novaskin.me/Bz9708ZAzDnCTokSd0Klsw8ZgGbUu6WsTyQnCaELSolP-MOBaKYTXvdFSr9lmCqmjb53XGclD7RZI0DksDLw"); */
    background-image: url("https://opengameart.org/sites/default/files/styles/medium/public/grass_71.png");
    /* background-size: cover; */
    border-radius: 1%;
}

#player {
    height: 90px;
    width: 50px;
    position: absolute;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 80px;
    /* background-color: purple; */
    width: 40px;
    background-image: url("../images/character_right.png");
    background-size: 100% 100%;
    text-align: center;
}

.health-bar {
    height: 5px;
    background-color: red ;
    width: 100%;
}

.mana-bar {
    height: 5px;
    background-color: blue;
    width: 100%;
}

.enemy {
    height: 70px;
    width: 70px;
    aspect-ratio: 1 / 1;
    position: absolute;
}

.iconEnemy {
    height: 60px;
    background-color: red;
    width: 100%;
}

.health-barEnemy {
    height: 10px;
    background-color: green;
    width: 100%;
}

.fireBall {
    height: 60px;
    width: 100px;
    /* background-color: #e28822; */
    position: absolute;
    background-image: url("../images/fireball.png");
    background-size: cover;
    /* transform: rotate(90deg); */
}

.rock {
    height: 140px;
    width: 140px;
    /* background-color: #655353; */
    background-image: url("../images/rock.png");
    position: absolute;
    background-size: cover;
}

.lake {
    height: 280px;
    width: 280px;
    /* background-color: #CDE5F9; */
    position: absolute;
    background-image: url("https://opengameart.org/sites/default/files/styles/medium/public/water_6.png");
    background-size: cover;
    border-radius: 20%;
}

.tree {
    height: 90px;
    width: 90px;
    background-color: #5F6344;
    position: absolute;
}