@font-face {
    font-family: 'medieval';
    src: url("./fonts/MedievalSharp-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://i.pinimg.com/736x/ce/3e/aa/ce3eaae4075199a4b26401742612cb72.jpg");
}

#container {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 1%;
}

#game-area {
    height: 89vh;
    width: 89vw;
    position: relative;
    background-image: url("../images/stoneFloor.jpg");
    border-radius: 1%;
    z-index: 2;
}

#player {
    height: 100px;
    width: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin-left: -10px;
    z-index: 2;
}

.spear {
    height: 90px;
    width: 70px;
    position: absolute;
    z-index: 1;
    background-image: url("../images/spear.png");
    background-size: 100% 100%;
}

.icon {
    height: 90px;
    width: 40px;
    background-image: url("../images/character_down.png");
    background-size: 100% 100%;
    text-align: center;
}

.health-bar {
    height: 10px;
    background-color: red;
    width: 100%;
}

.mana-bar {
    height: 10px;
    background-color: blue;
    width: 100%;
}

.enemy {
    height: 120px;
    width: 70px;
    position: absolute;
    z-index: 2;
}

.iconEnemy {
    height: 110px;
    width: 100%;
    background-image: url("../images/skelly_down.png");
    background-size: 100% 100%;
}

.health-barEnemy {
    height: 10px;
    background-color: red;
    width: 100%;
}

.enemySpecial {
    height: 220px;
    width: 140px;
    position: absolute;
    z-index: 2;
}

.iconEnemySpecial {
    height: 200px;
    width: 100%;
    background-image: url("../images/skelly_down.png");
    background-size: 100% 100%;
}

.health-barEnemySpecial {
    height: 20px;
    background-color: red;
    width: 100%;
}

.fireBall {
    height: 60px;
    width: 100px;
    position: absolute;
    background-image: url("../images/fireball.png");
    background-size: cover;
}

.rock {
    height: 140px;
    width: 140px;
    background-image: url("../images/rock.png");
    position: absolute;
    background-size: cover;
}

.rock1 {
    height: 70px;
    width: 70px;
    background-image: url("../images/rock.png");
    position: absolute;
    background-size: cover;
}


.lake_surroundings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    position: absolute;
    background-image: url("https://opengameart.org/sites/default/files/styles/medium/public/DirtAndBark_T.jpg");
    background-size: cover;
    border-radius: 5%;
}

.lake_surroundings1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    position: absolute;
    background-image: url("https://opengameart.org/sites/default/files/styles/medium/public/DirtAndBark_T.jpg");
    background-size: cover;
    border-radius: 5%;
}

.lake {
    height: 90px;
    width: 90px;
    position: absolute;
    background-image: url("../images/lava.jpg");
    background-size: cover;
    border-radius: 5%;
}

.lake1 {
    height: 190px;
    width: 190px;
    position: absolute;
    background-image: url("../images/lava.jpg");
    background-size: cover;
    border-radius: 5%;
}

.tree {
    height: 150px;
    width: 105px;
    background-image: url("../images/tree.png");
    background-size: cover;
    position: absolute;
}

.banner {
    width: 55vw;
    height: 70vh;
    background-image: url("../images/endGameBanner.png");
    background-size: 100% 100%;
    font-family: medieval;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    position: absolute;
    top: 8vh;
    left: 15vw;
    padding-left: 8vw;
    padding-right: 8vw;
    z-index: 3;
}

.bannerWrapper {
    font-size: 7vh;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: medieval;
    color: black
}

.bannerInfo {
    font-size: 3vh;
    color: black;
    padding: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characterMoveDown {
    animation: characterMoveDown 500ms infinite;
}

.characterMoveUp {
    animation: characterMoveUp 500ms infinite;
}

.characterMoveLeft {
    animation: characterMoveLeft 500ms infinite;
}

.characterMoveRight {
    animation: characterMoveRight 500ms infinite;
}

.popping:hover {
    animation: popping 500ms infinite;
    color: white;
}

@keyframes popping {

    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-7.5px);
    }

    50% {
        transform: translateY(-15px);
    }

    75% {
        transform: translateY(-7.5px);
    }

    100% {
        transform: translateY(0px);
    }

}

@keyframes characterMoveDown {
    0% {
        background-image: url("../images/animations/character/moveDown/1.png");
    }

    11.11% {
        background-image: url("../images/animations/character/moveDown/2.png");
    }

    22.22% {
        background-image: url("../images/animations/character/moveDown/3.png");
    }

    33.33% {
        background-image: url("../images/animations/character/moveDown/4.png");
    }

    44.44% {
        background-image: url("../images/animations/character/moveDown/5.png");
    }

    55.55% {
        background-image: url("../images/animations/character/moveDown/6.png");
    }

    66.66% {
        background-image: url("../images/animations/character/moveDown/7.png");
    }

    77.77% {
        background-image: url("../images/animations/character/moveDown/8.png");
    }

    88.88% {
        background-image: url("../images/animations/character/moveDown/9.png");
    }

    100% {
        background-image: url("../images/animations/character/moveDown/1.png");
    }
}

@keyframes characterMoveUp {
    0% {
        background-image: url("../images/animations/character/moveUp/1.png");
    }

    11.11% {
        background-image: url("../images/animations/character/moveUp/2.png");
    }

    22.22% {
        background-image: url("../images/animations/character/moveUp/3.png");
    }

    33.33% {
        background-image: url("../images/animations/character/moveUp/4.png");
    }

    44.44% {
        background-image: url("../images/animations/character/moveUp/5.png");
    }

    55.55% {
        background-image: url("../images/animations/character/moveUp/6.png");
    }

    66.66% {
        background-image: url("../images/animations/character/moveUp/7.png");
    }

    77.77% {
        background-image: url("../images/animations/character/moveUp/8.png");
    }

    88.88% {
        background-image: url("../images/animations/character/moveUp/9.png");
    }

    100% {
        background-image: url("../images/animations/character/moveUp/1.png");
    }
}

@keyframes characterMoveLeft {
    0% {
        background-image: url("../images/animations/character/moveLeft/1.png");
    }

    11.11% {
        background-image: url("../images/animations/character/moveLeft/2.png");
    }

    22.22% {
        background-image: url("../images/animations/character/moveLeft/3.png");
    }

    33.33% {
        background-image: url("../images/animations/character/moveLeft/4.png");
    }

    44.44% {
        background-image: url("../images/animations/character/moveLeft/5.png");
    }

    55.55% {
        background-image: url("../images/animations/character/moveLeft/6.png");
    }

    66.66% {
        background-image: url("../images/animations/character/moveLeft/7.png");
    }

    77.77% {
        background-image: url("../images/animations/character/moveLeft/8.png");
    }

    88.88% {
        background-image: url("../images/animations/character/moveLeft/9.png");
    }

    100% {
        background-image: url("../images/animations/character/moveLeft/1.png");
    }
}

@keyframes characterMoveRight {
    0% {
        background-image: url("../images/animations/character/moveRight/1.png");
    }

    11.11% {
        background-image: url("../images/animations/character/moveRight/2.png");
    }

    22.22% {
        background-image: url("../images/animations/character/moveRight/3.png");
    }

    33.33% {
        background-image: url("../images/animations/character/moveRight/4.png");
    }

    44.44% {
        background-image: url("../images/animations/character/moveRight/5.png");
    }

    55.55% {
        background-image: url("../images/animations/character/moveRight/6.png");
    }

    66.66% {
        background-image: url("../images/animations/character/moveRight/7.png");
    }

    77.77% {
        background-image: url("../images/animations/character/moveRight/8.png");
    }

    88.88% {
        background-image: url("../images/animations/character/moveRight/9.png");
    }

    100% {
        background-image: url("../images/animations/character/moveRight/1.png");
    }
}

@keyframes characterSpellUp {
    0% {
        background-image: url("../images/animations/character/spellUp/1.png");
    }

    14.28% {
        background-image: url("../images/animations/character/spellUp/2.png");
    }

    28.56% {
        background-image: url("../images/animations/character/spellUp/3.png");
    }

    42.84% {
        background-image: url("../images/animations/character/spellUp/4.png");
    }

    57.12% {
        background-image: url("../images/animations/character/spellUp/5.png");
    }

    71.4% {
        background-image: url("../images/animations/character/spellUp/6.png");
    }

    85.68% {
        background-image: url("../images/animations/character/SpellUp/7.png");
    }

    100% {
        background-image: url("../images/animations/character/SpellUp/1.png");
    }
}

@keyframes characterSpellDown {
    0% {
        background-image: url("../images/animations/character/spellDown/1.png");
    }

    14.28% {
        background-image: url("../images/animations/character/spellDown/2.png");
    }

    28.56% {
        background-image: url("../images/animations/character/spellDown/3.png");
    }

    42.84% {
        background-image: url("../images/animations/character/spellDown/4.png");
    }

    57.12% {
        background-image: url("../images/animations/character/spellDown/5.png");
    }

    71.4% {
        background-image: url("../images/animations/character/spellDown/6.png");
    }

    85.68% {
        background-image: url("../images/animations/character/spellDown/7.png");
    }

    100% {
        background-image: url("../images/animations/character/spellDown/1.png");
    }
}

@keyframes characterSpellLeft {
    0% {
        background-image: url("../images/animations/character/spellLeft/1.png");
    }

    14.28% {
        background-image: url("../images/animations/character/spellLeft/2.png");
    }

    28.56% {
        background-image: url("../images/animations/character/spellLeft/3.png");
    }

    42.84% {
        background-image: url("../images/animations/character/spellLeft/4.png");
    }

    57.12% {
        background-image: url("../images/animations/character/spellLeft/5.png");
    }

    71.4% {
        background-image: url("../images/animations/character/spellLeft/6.png");
    }

    85.68% {
        background-image: url("../images/animations/character/spellLeft/7.png");
    }

    100% {
        background-image: url("../images/animations/character/spellLeft/1.png");
    }
}

@keyframes characterSpellRight {
    0% {
        background-image: url("../images/animations/character/spellRight/1.png");
    }

    14.28% {
        background-image: url("../images/animations/character/spellRight/2.png");
    }

    28.56% {
        background-image: url("../images/animations/character/spellRight/3.png");
    }

    42.84% {
        background-image: url("../images/animations/character/spellRight/4.png");
    }

    57.12% {
        background-image: url("../images/animations/character/spellRight/5.png");
    }

    71.4% {
        background-image: url("../images/animations/character/spellRight/6.png");
    }

    85.68% {
        background-image: url("../images/animations/character/spellRight/7.png");
    }

    100% {
        background-image: url("../images/animations/character/spellRight/1.png");
    }
}

@keyframes characterAttackUp {
    0% {
        background-image: url("../images/animations/character/attackUp/1.png");
    }

    10% {
        background-image: url("../images/animations/character/attackUp/2.png");
    }

    20% {
        background-image: url("../images/animations/character/attackUp/3.png");
    }

    30% {
        background-image: url("../images/animations/character/attackUp/4.png");
    }

    40% {
        background-image: url("../images/animations/character/attackUp/5.png");
    }

    80% {
        background-image: url("../images/animations/character/attackUp/6.png");
    }

    90% {
        background-image: url("../images/animations/character/attackUp/7.png");
    }

    100% {
        background-image: url("../images/animations/character/attackUp/8.png");
    }
}