* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#title {
    width: 50vw;
    font-size: 10em;
    font-weight: bold;
    background-color: white;
    color: black;
    text-align: center;
    margin: 10vw 10vh;
}

#options {
    width: 50vw;
    font-size: 5em;
    font-weight: bold;
    background-color: white;
    color: black;
    text-align: center;
}

a {
    cursor: pointer;
}


