@font-face {
    font-family: 'medieval';
    src: url("./fonts/MedievalSharp-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-image: url("https://blenderartists.org/uploads/default/original/4X/e/1/b/e1b7cc597f4d71d2e4cf05b64f0bbc988c0426fa.jpeg");
    background-size: cover;
    gap: 300px;
}

#title {
    width: 70vw;
    font-size: 10vh;
    font-weight: bold;
    background-image: url("../images/wall.jpeg");
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: medieval;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
}

.test {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.test1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.test1:hover {
    animation: popping 500ms infinite;
}

.padded {
    position: absolute;
    text-align: center;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}

.padded1 {
    position: absolute;
    text-align: center;
    color: black

}

.shield {
    width: 7vw;
    aspect-ratio: 1/1;
    background-image: url("../images/shield.png");
    background-size: 100% 100%;
}

.sword {
    width: 7vw;
    aspect-ratio: 1/1;
    background-image: url("../images/sword.png");
    background-size: 100% 100%;
}

#options {
    width: 50vw;
    height: 40vh;
    font-size: 7vh;
    font-weight: bold;
    background-image: url("../images/framedungeon.png");
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: medieval;
    color: white;
    gap: 100px;
}

.options1 {
    width: 55vw;
    height: 70vh;
    font-size: 7vh;
    font-weight: bold;
    background-image: url("../images/framedungeon.png");
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: medieval;
    color: white;
    position: absolute;
    top: 25vh;
    gap: 4vh;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
}

.explanation {
    font-size: 3vh;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit ;
}

@keyframes popping {
    
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-7.5px);
    }

    50% {
        transform: translateY(-15px);
    }

    75% {
        transform: translateY(-7.5px);
    }

    100% {
        transform: translateY(0px);
    }

}